<!-- maligant Movie Details -->
<div class="container">
  <div class="card">
    <img style="width: 350px;height: 350px;" src="./../assets/Images/maligant.png" class="card-img-top" alt="atarangi"/>
    <div class="card-body">
      <h5 class="card-title">Maligant</h5>
      <p class="card-text">Malignant is a 2021 American horror film directed by James Wan from a screenplay by Akela Cooper, based on a story by Wan, Ingrid Bisu, and Cooper. The film stars Annabelle Wallis as a woman who begins to have visions of people being murdered, only to realize the events are happening in real life.</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Language : English</li>
        <li class="list-group-item">Release Date : 10 Sep 2021</li>
        <li class="list-group-item">Duration : 1h 51min</li>
        <li class="list-group-item">Genre :  Horror </li>
        <li class="list-group-item">Cast : Annabelle Wallis, Maddie Hasson, George Young, Michole Briana White.</li>
        <li class="list-group-item">Director : James Wan </li>
        <li class="list-group-item">Music by :  Joseph Bishara</li>
        <li class="list-group-item">Production Company : Walt Disney Studios</li>
        <a href="#!" class="btn btn-primary">Book Tickets Now</a>
      </ul>
    </div>
  </div>
</div>
<!-- End Details -->

<!-- Wicked Movie Deatils -->
<div class="container">
  <div class="card">
    <img style="width: 350px;height: 350px;" src="./../assets/Images/wicked.png" class="card-img-top" alt="wicked"/>
    <div class="card-body">
      <h5 class="card-title">Wicked </h5>
      <p class="card-text">Wicked tells the story of two unlikely friends, Elphaba (the Wicked Witch of the West) and Galinda (whose name later changes to Glinda the Good Witch), who struggle through opposing personalities and viewpoints, rivalry over the same love-interest, reactions to the Wizard 's corrupt government, and, ultimately, Elphaba's private fall from grace.</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Language : English</li>
        <li class="list-group-item">Release Date : 20 Dec 2019</li>
        <li class="list-group-item">Duration : 2hr 52min</li>
        <li class="list-group-item">Genre : Action</li>
        <li class="list-group-item">Cast : Cynthia Erivo and Ariana Grande</li>
        <li class="list-group-item">Director : Jon M. Chu. </li>
        <li class="list-group-item">Music by : Stephen Schwartz</li>
        <li class="list-group-item">Production Company : Tycor International Film Company</li>
        <a href="#!" class="btn btn-primary">Book Tickets Now</a>
      </ul>
    </div>
  </div>
</div>
<!-- End Details-->

<!-- Cruella Movie Deatils -->
<div class="container">
  <div class="card">
    <img style="width: 350px;height: 350px;" src="./../assets/Images/cruella.png" class="card-img-top" alt="atarangi"/>
    <div class="card-body">
      <h5 class="card-title">Cruella</h5>
      <p class="card-text">"Cruella," which is set in 1970s London amidst the punk rock revolution, follows a young grifter named Estella, a clever and creative girl determined to make a name for herself with her designs.</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Language : English</li>
        <li class="list-group-item">Release Date : 26 May 2021</li>
        <li class="list-group-item">Duration : 2hr 58min</li>
        <li class="list-group-item">Genre :  Drama and Action </li>
        <li class="list-group-item">Cast : Emma Stone, Emma Thompson, Joel Fry, Paul Walter Hauser</li>
        <li class="list-group-item">Director : Craig Gillespie </li>
        <li class="list-group-item">Music by :  Nicholas Britell</li>
        <li class="list-group-item">Production Company : Walt Disney Pictures, Marc Platt Productions, Gunn Films</li>
        <a href="#!" class="btn btn-primary">Book Tickets Now</a>
      </ul>
    </div>
  </div>
</div>
<!-- End Details -->

<!-- Roohi Movie Deatils -->
<div class="container">
  <div class="card">
    <img style="width: 350px;height: 350px;" src="./../assets/Images/roohi.png" class="card-img-top" alt="atarangi"/>
    <div class="card-body">
      <h5 class="card-title"> Roohi</h5>
      <p class="card-text">Roohi is a 2021 Indian Hindi -language comedy horror film directed by Hardik Mehta and produced by Dinesh Vijan under the banner Maddock Films. It tells the story of a ghost who abducts brides on their honeymoons.</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Language : Hindi</li>
        <li class="list-group-item">Release Date : 27 Feb 2021</li>
        <li class="list-group-item">Duration : 2hr 14min</li>
        <li class="list-group-item">Genre :  Comedy and Horror </li>
        <li class="list-group-item">Cast :  Rajkummar Rao, Janhvi Kapoor, Varun Sharma , Alexx O'Nell and Manav Vij</li>
        <li class="list-group-item">Director : Hardik Mehta </li>
        <li class="list-group-item">Music by : Sachin Sanghvi and Jigar Saraiya.</li>
        <li class="list-group-item">Production Company : Maddock film and Jio Studio</li>
        <a href="#!" class="btn btn-primary">Book Tickets Now</a>
      </ul>
    </div>
  </div>
</div>
<!-- End Deatils -->

<!-- Antim Movie Deatils -->
<div class="container">
  <div class="card">
    <img style="width: 350px;height: 350px;" src="./../assets/Images/antim.png" class="card-img-top" alt="atarangi"/>
    <div class="card-body">
      <h5 class="card-title">Antim (The Final Truth)
      </h5>
      <p class="card-text">Antim: The Final Truth is an upcoming Indian Hindi -language action thriller film directed by Mahesh Manjrekar and produced by Salman Khan Films. Distributed by Zee Studios, it is an adaptation of the Marathi film Mulshi Pattern. The film stars Salman Khan and Aayush Sharma in the main roles with Mahima Makwana.</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Language : Hindi</li>
        <li class="list-group-item">Release Date : 26 Nov 2021</li>
        <li class="list-group-item">Duration : 2h 30min </li>
        <li class="list-group-item">Genre :  Action and Thriller  </li>
        <li class="list-group-item">Cast :  Salman Khan, Aayush Sharma, Mahima Makwana, Jisshu Sengupta and Nikitin Dheer</li>
        <li class="list-group-item">Director : Mahesh Manjrekar</li>
        <li class="list-group-item">Music by : Hitesh Modak and Ravi Basrur</li>
        <li class="list-group-item">Production Company : Salman Khan Films</li>
        <a href="#!" class="btn btn-primary">Book Tickets Now</a>
      </ul>
    </div>
  </div>
</div>
<!-- End Deatils -->

<!-- Bhoot Police Movie Deatils -->
<div class="container">
  <div class="card">
    <img style="width: 350px;height: 350px;" src="./../assets/Images/Bhoot.png" class="card-img-top" alt="atarangi"/>
    <div class="card-body">
      <h5 class="card-title">Bhoot Police</h5>
      <p class="card-text">BHOOT POLICE Directed by Pavan Kirpalani, Bhoot Police is a horror comedy which stars Saif Ali Khan, Arjun Kapoor, Yami Gautam and Jacqueline Fernandez in pivotal roles. The shooting of the film began in Himachal Pradesh in November 2020. Its next schedule was completed in Jaisalmer.</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Language : Hindi</li>
        <li class="list-group-item">Release Date : 10 Sep 2021</li>
        <li class="list-group-item">Duration : 2hr 9min</li>
        <li class="list-group-item">Genre : Drama and Horror</li>
        <li class="list-group-item">Cast : Saif Ali Khan, Arjun Kapoor, Yami Gautam and Jacqueline Fernandes</li>
        <li class="list-group-item">Director : Pavan Kirpalani </li>
        <li class="list-group-item">Music by :  Vishal Dadlani, Sunidhi Chauhan and Mellow D </li>
        <li class="list-group-item">Production Company : Principal photography </li>
        <a href="#!" class="btn btn-primary">Book Tickets Now</a>
      </ul>
    </div>
  </div>
</div>
<!-- End Deatils -->

<!-- Man Fakiraa Movie Deatils -->
<div class="container">
  <div class="card">
    <img style="width: 350px;height: 350px;" src="./../assets/Images/man.png" class="card-img-top" alt="atarangi"/>
    <div class="card-body">
      <h5 class="card-title">Mann Fakiraa</h5>
      <p class="card-text">Mann Fakiraa revolves around a man who gets into an arranged marriage but realises he is still in love with another woman from his past. His wife reveals she too has an old flame she has feelings for. The four youngsters unravel the mystery of human relationships and love in this romantic drama.</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Language : Marathi</li>
        <li class="list-group-item">Release Date : 6 Mar 2020</li>
        <li class="list-group-item">Duration :  2h 10min.</li>
        <li class="list-group-item">Genre : Drama and Romantic</li>
        <li class="list-group-item">Cast : Survat Joshi, Sayali Sanjeev, Anjali Patil, Ankit Mohan </li>
        <li class="list-group-item">Director : Mrinmayee Deshpande </li>
        <li class="list-group-item">Music by : Siddharth Mahadevan & Yashita Sharma</li>
        <li class="list-group-item">Production Company : Frames Production Company </li>
        <a href="#!" class="btn btn-primary">Book Tickets Now</a>
      </ul>
    </div>
  </div>
</div>
<!-- End Deatils -->


<!-- Befam Movie Deatils -->
<div class="container">
  <div class="card">
    <img style="width: 350px;height: 350px;" src="./../assets/Images/befam.png" class="card-img-top" alt="atarangi"/>
    <div class="card-body">
      <h5 class="card-title">Befaam</h5>
      <p class="card-text">Befaam is a 2021 Indian Marathi-language film directed by Krishna Kamble and produced by Amol Kagne.</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Language : Marathi</li>
        <li class="list-group-item">Release Date : 26 Feb 2021 </li>
        <li class="list-group-item">Duration :  2h 20min.</li>
        <li class="list-group-item">Genre : Comedy </li>
        <li class="list-group-item">Cast : Mahadev Abhyankar, Siddharth Chandekar, Seema Deshmukh, Sakhi Gokhale.</li>
        <li class="list-group-item">Director : Krishna Kambale</li>
        <li class="list-group-item">Music by : Amitraj and  Mandar Khare</li>
        <li class="list-group-item">Production Company : Amol Kagne Films and Amol Kagne Studios </li>
        <a href="#!" class="btn btn-primary">Book Tickets Now</a>
      </ul>
    </div>
  </div>
</div>
<!-- End Deatils -->


<!-- Panghrun Movie Deatils -->
<div class="container">
  <div class="card">
    <img style="width: 350px;height: 350px;" src="./../assets/Images/panghrun.png" class="card-img-top" alt="atarangi"/>
    <div class="card-body">
      <h5 class="card-title">Panghrun</h5>
      <p class="card-text">'Panghrun' is a period drama film which showcases the story of widow. Gauri Ingawale who can be seen dancing. In a way, the makers have given us sneak-peek into Gauri 's character from this periodic drama.</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Language : Marathi</li>
        <li class="list-group-item">Release Date : 18 Feb 2020</li>
        <li class="list-group-item">Duration :  2h 50min</li>
        <li class="list-group-item">Genre : Action </li>
        <li class="list-group-item">Cast : Gauri Ingwale, Amol Bawdekar, Rohit Phalke, Pravin Tarde and Prabhakar</li>
        <li class="list-group-item">Director : Mahesh Manjrekar</li>
        <li class="list-group-item">Music by : Hitesh Modak</li>
        <li class="list-group-item">Production Company : Mahesh Manjrekar Film's</li>
        <a href="#!" class="btn btn-primary">Book Tickets Now</a>
      </ul>
    </div>
  </div>
</div>
<!-- End Deatils -->


<!-- Raya Movie Deatils -->
<div class="container">
  <div class="card">
    <img style="width: 350px;height: 350px;" src="./../assets/Images/raya.png" class="card-img-top" alt="atarangi"/>
    <div class="card-body">
      <h5 class="card-title">Raya and The Last Dragoan</h5>
      <p class="card-text">Raya and the Last Dragon is a 2021 American computer-animated fantasy adventure film produced by Walt Disney Animation Studios. The 59th film produced by the studio, it is directed by Don Hall and Carlos López Estrada, and is based on traditional Southeast Asian cultures.</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Language : English</li>
        <li class="list-group-item">Release Date : 5 Mar 2021</li>
        <li class="list-group-item">Duration : 2hr 40min</li>
        <li class="list-group-item">Genre :  Adventure</li>
        <li class="list-group-item">Cast : Kelly Marie Tran,Awkwafina,Gemma Chan,Daniel Dae Kim,Izaac Wang, Gemma Chan</li>
        <li class="list-group-item">Director : Don Hall and Carlos López Estrada </li>
        <li class="list-group-item">Music by :  James Newton Howard</li>
        <li class="list-group-item">Production Company : Walt Disney Animation Studios</li>
        <a href="#!" class="btn btn-primary">Book Tickets Now</a>
      </ul>
    </div>
  </div>
</div>
<!-- End Deatils -->


<!-- jungle Movie Deatils -->
<div class="container">
  <div class="card">
    <img style="width: 350px;height: 350px;" src="./../assets/Images/jungle.png" class="card-img-top" alt="atarangi"/>
    <div class="card-body">
      <h5 class="card-title">Jungle Cruise</h5>
      <p class="card-text">Based on Disneyland's theme park ride where a small riverboat takes a group of travelers through a jungle filled with dangerous animals and reptiles but with a supernatural element.</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Language : English</li>
        <li class="list-group-item">Release Date : 24 Jul 2021</li>
        <li class="list-group-item">Duration : 2hr 7min</li>
        <li class="list-group-item">Genre :  Adventure</li>
        <li class="list-group-item">Cast : Dwayne Johnson, Emily Blunt, Édgar Ramírez, Jack Whitehall, Jesse Plemons, and Paul Giamatti .</li>
        <li class="list-group-item">Director : Jaume Collet-Serra </li>
        <li class="list-group-item">Music by :  James Newton Howard</li>
        <li class="list-group-item">Production Company : Davis Entertainment, Seven Bucks Productions and Flynn Picture Company.</li>
        <a href="#!" class="btn btn-primary">Book Tickets Now</a>
      </ul>
    </div>
  </div>
</div>
<!-- End Deatils -->


<!-- Castle Movie Deatils -->
<div class="container">
  <div class="card">
    <img style="width: 350px;height: 350px;" src="./../assets/Images/castle.png" class="card-img-top" alt="atarangi"/>
    <div class="card-body">
      <h5 class="card-title">A Castle for Christmas</h5>
      <p class="card-text">The Castle for Christmas is not actually a castle, but a Tudor-Gothic revival mansion located in South Queensferry, on the outskirts of Edinburgh, called Dalmeny House. Completed in 1817, this imposing manor is the home of the Earl and Countess of Rosebery.</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Language : English</li>
        <li class="list-group-item">Release Date : 26 Nov 2021</li>
        <li class="list-group-item">Duration : 1hr 55min</li>
        <li class="list-group-item">Genre :  Romantic,Drama and Action  </li>
        <li class="list-group-item">Cast :  Brooke Shields, Cary Elwes, Lee Ross, Andi Osho.</li>
        <li class="list-group-item">Director : Mary Lambert </li>
        <li class="list-group-item">Music by :  Jeff Rona</li>
        <li class="list-group-item">Production Company : Motion Picture Corporation of America (MPCA)</li>
        <a href="#!" class="btn btn-primary">Book Tickets Now</a>
      </ul>
    </div>
  </div>
</div>
<!-- End Deatils -->

<!-- Satyamev Jayate 2 Movie Deatils -->
<div class="container">
  <div class="card">
    <img style="width: 350px;height: 350px;" src="./../assets/Images/satyamev.png" class="card-img-top" alt="atarangi"/>
    <div class="card-body">
      <h5 class="card-title">Satyameva Jayate 2</h5>
      <p class="card-text">Satyameva Jayate 2 is the sequel to the widely popular 2018 film called Satyameva Jayate. This is a drama-action film that will feature slick fighting sequences and a tight story. The movie was originally supposed to be released in early 2021 however, due to the Covid-19 pandemic, the film’s release was delayed.</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Language : Hindi</li>
        <li class="list-group-item">Release Date : 25 Nov 2021</li>
        <li class="list-group-item">Duration : 2h 30min </li>
        <li class="list-group-item">Genre :  Action, Crime and Suspense and Thriller  </li>
        <li class="list-group-item">Cast :  John Abraham, Divya Khosla, Harsh Chhaya, Anup Soni and Gautami Kapoor</li>
        <li class="list-group-item">Director : Milap Zaveri </li>
        <li class="list-group-item">Music by :  Arko Pravo Mukherjee, Rochak Kohli, Tanishk Bagchi, Payal Dev, Sanjoy Chowdhury, Raghav Sachar</li>
        <li class="list-group-item">Production Company : T-Series</li>
        <a href="#!" class="btn btn-primary">Book Tickets Now</a>
      </ul>
    </div>
  </div>
</div>
<!-- End Deatils -->


<!-- Shidhhat Movie Deatils -->
<div class="container">
  <div class="card">
    <img style="width: 350px;height: 350px;" src="./../assets/Images/shidhhat.png" class="card-img-top" alt="atarangi"/>
    <div class="card-body">
      <h5 class="card-title">Shiddat</h5>
      <p class="card-text">Shiddat is an upcoming Hindi film that shows two parallel love stories and the extent that people will go to in order to be united with their love. The trailer does not reveal much about the movie apart from the fact that these are star-crossed lovers who must overcome challenges in order to be together. The film is set to release in 2021.</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Language : Hindi</li>
        <li class="list-group-item">Release Date : 1 Oct 2021</li>
        <li class="list-group-item">Duration :  2h 34min</li>
        <li class="list-group-item">Genre : Drama and Romantic</li>
        <li class="list-group-item">Cast : Sunny Kaushal, Radhika Madan, Mohit Raina and Diana Penty</li>
        <li class="list-group-item">Director : Kunal Deshmukh </li>
        <li class="list-group-item">Music by : Gourov Dasgupta, Sachin-Jigar and Manan Bhardwaj</li>
        <li class="list-group-item">Production Company : T-Series and Maddock Films  </li>
        <a href="#!" class="btn btn-primary">Book Tickets Now</a>
      </ul>
    </div>
  </div>
</div>
<!-- End Deatils -->

<!-- Laxmi Movie Deatils -->
<div class="container">
  <div class="card">
    <img style="width: 350px;height: 350px;" src="./../assets/Images/laxmi.png" class="card-img-top" alt="atarangi"/>
    <div class="card-body">
      <h5 class="card-title">Laxmi</h5>
      <p class="card-text">Laxmii is a 2020 Indian Hindi-language horror comedy film written and directed by Raghava Lawrence, marking his directorial debut in the Hindi film industry. A remake of his own Tamil film Kanchana (2011).</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Language : Hindi</li>
        <li class="list-group-item">Release Date : 9 Nov 2020</li>
        <li class="list-group-item">Duration :  2h 21min.</li>
        <li class="list-group-item">Genre : Drama ,Horror and Comedy</li>
        <li class="list-group-item">Cast : Akshay Kumar, Kiara Advani, Sharad Kelkar, Ashwini Kalsekar and Ayesha Raza</li>
        <li class="list-group-item">Director : Raghava Lawrence </li>
        <li class="list-group-item">Music by : Bibbo and Maya Banerjee</li>
        <li class="list-group-item">Production Company :  Global Entertainment </li>
        <a href="#!" class="btn btn-primary">Book Tickets Now</a>
      </ul>
    </div>
  </div>
</div>
<!--  End Deatils -->


<!-- Colorful Movie Deatils -->
<div class="container">
  <div class="card">
    <img style="width: 350px;height: 350px;" src="./../assets/Images/Colorful.png" class="card-img-top" alt="atarangi"/>
    <div class="card-body">
      <h5 class="card-title">Colorful</h5>
      <p class="card-text">Befaam is a 2021 Indian Marathi-language film directed by Krishna Kamble and produced by Amol Kagne.</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Language : Marathi</li>
        <li class="list-group-item">Release Date : 2 Jul 2021 </li>
        <li class="list-group-item">Duration :  1h 58min.</li>
        <li class="list-group-item">Genre : Romantic and Drama </li>
        <li class="list-group-item">Cast : Sai Tamhankar, Lalit Prabhakar</li>
        <li class="list-group-item">Director : Prakash Kunte</li>
        <li class="list-group-item">Music by : Avadhoot Gupte</li>
        <li class="list-group-item">Production Company : Prakash Kunte and Aadesh Sambhaji Salekar Studios </li>
        <a href="#!" class="btn btn-primary">Book Tickets Now</a>
      </ul>
    </div>
  </div>
</div>
<!-- End Deatils -->


<!-- Zimma Movie Deatils -->
<div class="container">
  <div class="card">
    <img style="width: 350px;height: 350px;" src="./../assets/Images/zimma.png" class="card-img-top" alt="atarangi"/>
    <div class="card-body">
      <h5 class="card-title">Zimma</h5>
      <p class="card-text">Seven women from different age groups and socio-cultural background come together on a trip to England for ten days. During the journey, they deal with various challenges that change the course of their lives.</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Language : Marathi</li>
        <li class="list-group-item">Release Date : 23 April 2021 </li>
        <li class="list-group-item">Duration :  2h 10min.</li>
        <li class="list-group-item">Genre : Comedy and Drama</li>
        <li class="list-group-item">Cast : Suchitra Bandekar, Suhas Joshi, Sonalee Kulkarni, Siddharth Chandekar, Hemant Dhome, Mrinmayee Godbole.</li>
        <li class="list-group-item">Director : Hemant Dhome</li>
        <li class="list-group-item">Music by : Vaishali Samant, Mugdha Karhade, Aarti Kelkar, Suhas Joshi</li>
        <li class="list-group-item">Production Company : Chalchitra Company </li>
        <a href="#!" class="btn btn-primary">Book Tickets Now</a>
      </ul>
    </div>
  </div>
</div>
<!-- End Deatils -->


<!-- Kanika Movie Deatils -->
<div class="container">
  <div class="card">
    <img style="width: 350px;height: 350px;" src="./../assets/Images/Kanika.png" class="card-img-top" alt="atarangi"/>
    <div class="card-body">
      <h5 class="card-title">Kanika</h5>
      <p class="card-text">Seven women from different age groups and socio-cultural background come together on a trip to England for ten days. During the journey, they deal with various challenges that change the course of their lives.</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Language : Marathi</li>
        <li class="list-group-item">Release Date : 31 Mar 2017 </li>
        <li class="list-group-item">Duration :  1h 52min.</li>
        <li class="list-group-item">Genre : Horror</li>
        <li class="list-group-item">Cast :  Sharad Ponkshe, Smita Shewale, Chaitrali Gupte, Kamlakar Satputhe</li>
        <li class="list-group-item">Director :  Pushkar Manohar</li>
        <li class="list-group-item">Music by : Vaishali Samant, Mugdha Karhade, Aarti Kelkar, Suhas Joshi</li>
        <li class="list-group-item">Production Company : Dharma Production </li>
        <a href="#!" class="btn btn-primary">Book Tickets Now</a>
      </ul>
    </div>
  </div>
</div>
<!-- End Deatils -->


<!-- Batman Movie Deatils -->
<div class="container">
  <div class="card">
    <img style="width: 350px;height: 350px;" src="./../assets/Images/batman.png" class="card-img-top" alt="batman"/>
    <div class="card-body">
      <h5 class="card-title">The Batman</h5>
      <p class="card-text">
        The Batman is an upcoming American superhero film based on the DC Comics character Batman. Produced by DC Films, 6th & Idaho, and Dylan Clark Productions, and set for distribution by Warner Bros. Pictures, it is a reboot of the Batman film franchise.
      </p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Language : English</li>
        <li class="list-group-item">Release Date : 4 Mar 2022</li>
        <li class="list-group-item">Duration : 1hr 48min</li>
        <li class="list-group-item">Genre : Horror</li>
        <li class="list-group-item">Cast : Robert Pattinson as Bruce Wayne / Batman, alongside Zoë Kravitz, Paul Dano, Jeffrey Wright, John Turturro, Peter Sarsgaard, Andy Serkis, and Colin Farrell. </li>
        <li class="list-group-item">Director : Leslie H. Martinson</li>
        <li class="list-group-item">Music by	Nelson Riddle Theme: Neal Hefti</li>
        <li class="list-group-item">Production companies	William Dozier Productions Greenlawn Pro</li>
        <a href="#!" class="btn btn-primary">Book Tickets Now</a>
      </ul>
    </div>
  </div>
</div>
<!-- End Deatils -->


<!-- Atrangi  Movie Deatils -->
<div class="container">
  <div class="card">
    <img style="width: 350px;height: 350px;" src="./../assets/Images/atarangi.png" class="card-img-top" alt="atarangi"/>
    <div class="card-body">
      <h5 class="card-title">Atrangi Re</h5>
      <p class="card-text">Atrangi Re is an upcoming Indian Hindi -language musical romantic drama film directed by Aanand L. Rai. Produced by T-Series, Colour Yellow Productions and Cape of Good Films, the film stars Akshay Kumar, Dhanush and Sara Ali Khan. The Tamil dubbed version of the film is titled as Galatta Kalyanam.</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Language : Hindi</li>
        <li class="list-group-item">Release Date : 24 Dec 2019</li>
        <li class="list-group-item">Duration : 2hr 18min</li>
        <li class="list-group-item">Genre : Drama and Romantic</li>
        <li class="list-group-item">Cast : Akshay Kumar, Dhanush, and Sara Ali Khan</li>
        <li class="list-group-item">Director : Aanand L. Rai </li>
        <li class="list-group-item">Music by :  A. R. Rahman</li>
        <li class="list-group-item">Production Company : T-Series, Colour Yellow Productions and Cape of Good Films</li>
        <a href="#!" class="btn btn-primary">Book Tickets Now</a>
      </ul>
    </div>
  </div>
</div>
<!-- End Deatils -->


<!-- Shamshera Movie Deatils -->
<div class="container">
  <div class="card">
    <img style="width: 350px;height: 350px;" src="./../assets/Images/shamshera.png" class="card-img-top" alt="atarangi"/>
    <div class="card-body">
      <h5 class="card-title">Shamshera</h5>
      <p class="card-text">Shamshera is an upcoming Indian Hindi-language period action drama film set in 1800s and about a dacoit tribe who took charge in fight for their rights and independence against the British.</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Language : Hindi</li>
        <li class="list-group-item">Release Date : 18 Mar 2022</li>
        <li class="list-group-item">Duration : 2hr 48min</li>
        <li class="list-group-item">Genre : Action and Drama</li>
        <li class="list-group-item">Cast : Ranbir Kapoor, Sanjay Dutt, Vaani Kapoor</li>
        <li class="list-group-item">Director : Karan Malhotra </li>
        <li class="list-group-item">Music by :  Mithoon and Ajay–Atul</li>
        <li class="list-group-item">Production Company : Mithoon · Ajay–Atul</li>
        <a href="#!" class="btn btn-primary">Book Tickets Now</a>
      </ul>
    </div>
  </div>
</div>
<!-- End Deatils -->


<!-- The 355  Movie Deatils -->
<div class="container">
  <div class="card">
    <img style="width: 350px;height: 350px;" src="./../assets/Images/355.png" class="card-img-top" alt="atarangi"/>
    <div class="card-body">
      <h5 class="card-title">The 355</h5>
      <p class="card-text">Five women band together to stop a global organization from acquiring a weapon that could thrust the teetering world into total chaos.</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Language : English</li>
        <li class="list-group-item">Release Date :14 Jan 2022</li>
        <li class="list-group-item">Duration : 2hr 22min</li>
        <li class="list-group-item">Genre : Action and Thriller</li>
        <li class="list-group-item">Cast : essica Chastain, Lupita Nyong'o, Penélope Cruz, Diane Kruger, Fan Bingbing, Sebastian Stan and Édgar Ramírez.</li>
        <li class="list-group-item">Director : Karan Malhotra </li>
        <li class="list-group-item">Music by : Simon David Kinberg</li>
        <li class="list-group-item">Production Company : Continuum Films</li>
        <a href="#!" class="btn btn-primary">Book Tickets Now</a>
      </ul>
    </div>
  </div>
</div>
<!-- End Deatils -->


<!-- Pandu Movie Deatils -->
<div class="container">
  <div class="card">
    <img style="width: 350px;height: 350px;" src="./../assets/Images/pandu.png" class="card-img-top" alt="atarangi"/>
    <div class="card-body">
      <h5 class="card-title">Pandu</h5>
      <p class="card-text">Pandu and Mhadu are small time stand up comedians in small village of Maharashtra who catch the eye of powerful politician Babasaheb Pathare who has always been the target of rival parties.Babasaheb gets inspired by Pandu and Mhadu's performance as they are in need of job he offers them job in Mumbai police force after their parts as cops in the skit</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Language : Marathi</li>
        <li class="list-group-item">Release Date :14 Jan 2022</li>
        <li class="list-group-item">Duration : 2hr 22min</li>
        <li class="list-group-item">Genre : Comedy</li>
        <li class="list-group-item">Cast :Kushal Badrike, Bhau Kadam, Anand Ingle, Hemangi Kavi, Sonalee Kulkarni, Savita Malpekar</li>
        <li class="list-group-item">Director : Viju Mane </li>
        <li class="list-group-item">Music by : Avadhoot Gupte, Vaishali Samant, Sampada Mane</li>
        <li class="list-group-item">Production Company : R. K. Films</li>
        <a href="#!" class="btn btn-primary">Book Tickets Now</a>
      </ul>
    </div>
  </div>
</div>
<!-- End Deatils -->


<!-- Jayanti Movie Deatils -->
<div class="container">
  <div class="card">
    <img style="width: 350px;height: 350px;" src="./../assets/Images/jayanti.png" class="card-img-top" alt="atarangi"/>
    <div class="card-body">
      <h5 class="card-title">Jayanti</h5>
      <p class="card-text">Sanyta is an aggressive young chap, who is a matter of worry and fear for his family and society. He is good for nothing.</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Language : Marathi</li>
        <li class="list-group-item">Release Date :12 Nov 2021</li>
        <li class="list-group-item">Duration : 2hr 43min</li>
        <li class="list-group-item">Genre : Comedy , Action and Drama</li>
        <li class="list-group-item">Cast :Ruturaj Wankhede,Titeeksha Tawde,Anjali Jogalekar,Kishore Kadam</li>
        <li class="list-group-item">Director : Shailesh Baliram Narwade </li>
        <li class="list-group-item">Music by : Ruturaj Wankhede, Vikrant Bhartiya and Titeeksha Tawde</li>
        <li class="list-group-item">Production Company : Meliorist Film Studio</li>
        <a href="#!" class="btn btn-primary">Book Tickets Now</a>
      </ul>
    </div>
  </div>
</div>
<!-- End Deatils -->



