<div class="feedback">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-7">
        <div class="section-title text-center">
          <h2>Send Your Feedback</h2>
          <p>Your opinion is very important to us!</p>
          <p>Please,help us to provide your feedback for more valuable information in our application.</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-7">
        <form class="feedback-form">
          <input type="name" placeholder="Send your feedback here..." required>
        </form>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xl-7 col-lg-7">
        <button style="text-align: center;" type="submit">Send</button>
      </div>
  </div>


  </div>
</div>
