<div class=" container-fluid footer">

  <ul style="text-align: left;">
    <a  routerLink ="Home">Home</a>
    <a routerLink ="Movies">Movies</a>
    <a routerLink ="Sign in">Sign In</a>
    <a routerLink ="Sign up">Sign Up</a>
    <a routerLink ="Feedback">Feedback</a>
  </ul>

  <!--Grid column-->
  <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
    <h5 class="text-uppercase">Entertainment Show App</h5>
    <div class="container">
    <p>"If you are a Entertainment Show fan and want to book at your favorite theatre, then you can go straight to the Entertainment Show website and book your movie tickets at the Entertainment Show theatre of your choice.
      All you need to do is to select the  movie, time and date and your job is done! Enjoy the convenience of selecting your own seats and beat the queues!
      A quick and easy way to book tickets online,It is a one-stop solution for buying movie tickets online for both current and upcoming movies."
    </p>
  </div>
  </div>
  <!--Grid column-->


  <div class="row">
    <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Entertainment.com</a>
  </div>
  <!-- Copyright -->

  </div>
</div>
