<nav class="navbar navbar-expand-lg navbar-warinig bg-warning justify-content-md-center justify-content-start">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand">Entertainment Show App</a>

    <ul class="navbar-nav  ">

      <li class="nav-active">
        <a class="nav-link " routerLink="home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="movies" routerLinkActive="active-link">Movies</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="upcoming" routerLinkActive="active-link">Upcoming</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="booking" routerLinkActive="active-link">Booking</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="login" routerLinkActive="active-link">Login</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="signup" routerLinkActive="active-link">Sign Up</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" routerLink="feedback" routerLinkActive="active-link">Feedback</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Contact</a>
      </li>

    </ul>
  </div>
</nav>
