
<!-- carousel slide card -->
<div class="card">
  <div class="card-body">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <!-- carousel slide button -->
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>

      <div class="carousel-inner">

        <!-- first slide card -->
        <div class="carousel-item active">
          <img src="./../assets/Images/shambg.png" class="d-block w-100" alt="shamshera" height="500px"width="100px" >
        </div>
        <!-- secound slide card -->
        <div class="carousel-item">
          <img src="./../assets/Images/thebg.png" class="d-block w-100" alt="the355" height="500px"width="100px" >
        </div>
        <!-- third slide card -->
        <div class="carousel-item">
          <img src="./../assets/Images/rangibg.png" class="d-block w-100" alt="atrangi" height="500px"width="100px">
        </div>
        <!-- forth slide card -->
        <div class="carousel-item">
          <img src="./../assets/Images/batbg.png" class="d-block w-100" alt="batman" height="500px"width="100px">
        </div>
        <!-- fifth slide card -->
        <div class="carousel-item">
          <img src="./../assets/Images/badarinath.png" class="d-block w-100" alt="badarinath" height="500px"width="100px">
        </div>

      </div>


      <!-- previous button -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <!-- next button -->
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
  </div>
</div>

<!-- Home Page Content -->
<div class="card">
  <div class="card-body">
    <font color="yellow" [size]="5"><marquee direction="left" style="background:RED">Recommended Movies...</marquee></font>
  </div>
</div>


<!-- Movie Card -->
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      <!-- Maligant Movie Card -->
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <img class="card-img-top" src="./../assets/Images/maligant.png" style="width: 320px; height:320px;" alt="Card image cap">
            <p class="card-title">Movie Name : Maligant</p>
            <p>Language : English</p>
            <p>Release Date : 10 Sep 2021</p>
            <p>Duration : 1h 51min</p>
            <p>Genre :  Horror</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Card -->


      <!-- Wicked Movie Card -->
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <img class="card-img-top" src="./../assets/Images/wicked.png" style="width: 320px; height:320px;" alt="Card image cap">
            <p class="card-title">Movie Name : Wicked</p>
            <p>Language : English</p>
            <p>Release Date : 20 Dec 2019</p>
            <p>Duration : 2hr 52min</p>
            <p>Genre :  Action</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Card -->


      <!-- Wicked Cruella Card -->
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <img class="card-img-top" src="./../assets/Images/cruella.png" style="width: 320px; height:320px;" alt="Card image cap">
            <p class="card-title">Movie Name : Cruella</p>
            <p>Language : English</p>
            <p>Release Date : 26 May 2021</p>
            <p>Duration : 2h 58min</p>
            <p>Genre :  Horror</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Card -->


      <!-- Roohi Movie Card -->
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <img class="card-img-top" src="./../assets/Images/roohi.png" style="width: 320px; height:320px;" alt="Card image cap">
            <p class="card-title">Movie Name : Roohi</p>
            <p>Language : Hindi</p>
            <p>Release Date : 27 Feb 2021</p>
            <p>Duration : 2hr 14min</p>
            <p>Genre :  Comedy and Horror</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Card -->


      <!--Antim Movie Card -->
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <img class="card-img-top" src="./../assets/Images/antim.png" style="width: 320px; height:320px;" alt="Card image cap">
            <p class="card-title">Movie Name : Antim </p>
            <p>Language : Hindi</p>
            <p>Release Date : 26 Nov 2021</p>
            <p>Duration :  2h 30min</p>
            <p>Genre :  Action and Thriller</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Card -->


      <!-- Bhoot Police Movie Card -->
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <img class="card-img-top" src="./../assets/Images/Bhoot.png" style="width: 320px; height:320px;" alt="Card image cap">
            <p class="card-title">Movie Name : Bhoot Police</p>
            <p>Language : Hindi</p>
            <p>Release Date : 10 Sep 2021</p>
            <p>Duration :  2hr 9min</p>
            <p>Genre :  Drama and Horror</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Card -->


      <!-- mann fakiraa Movie Card -->
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <img class="card-img-top" src="./../assets/Images/man.png" style="width: 320px; height:320px;" alt="Card image cap">
            <p class="card-title">Movie Name : Mann Fakiraa</p>
            <p>Language : Marathi</p>
            <p>Release Date : 6 Mar 2020</p>
            <p>Duration :   2h 10min</p>
            <p>Genre : Drama and Romantic</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Card -->


      <!-- Befam Movie Card -->
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <img class="card-img-top" src="./../assets/Images/befam.png" style="width: 320px; height:320px;" alt="Card image cap">
            <p class="card-title">Movie Name : Befaam</p>
            <p>Language : Marathi</p>
            <p>Release Date : 26 Feb 2021</p>
            <p>Duration :   2h 20min</p>
            <p>Genre : Comedy and Action</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Card -->


      <!-- Panghrun Movie Card -->
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <img class="card-img-top" src="./../assets/Images/panghrun.png" style="width: 320px; height:320px;" alt="Card image cap">
            <p class="card-title">Movie Name : Pangharun</p>
            <p>Language : Marathi</p>
            <p>Release Date : 18 Feb 2020</p>
            <p>Duration :   2h 50min</p>
            <p>Genre : Drama and Action</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Card -->

    </div>
  </div>
</div>
