<div class="card">
  <div class="card-body">
    <font color="yellow" [size]="5"><marquee direction="left" style="background:RED">Coming Now...</marquee></font>
  </div>
</div>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <img class="card-img-top" src="./../assets/Images/raya.png" style="width: 320px; height:320px;" alt="Card image cap">
            <p class="card-title">Movie Name : Raya and The Last Dragoan</p>
            <p>Language : English</p>
            <p>Release Date : 5 March 2021</p>
            <p>Duration : 2hr 40min</p>
            <p>Genre :  Adventure</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <img class="card-img-top" src="./../assets/Images/jungle.png" style="width: 320px; height:320px;" alt="Card image cap">
            <p class="card-title">Movie Name : Jungle Cruise</p>
            <p>Language : English</p>
            <p>Release Date : July 24 2021</p>
            <p>Duration : 2hr 7min</p>
            <p>Genre :  Adventure</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <img class="card-img-top" src="./../assets/Images/castle.png" style="width: 320px; height:320px;" alt="Card image cap">
            <p class="card-title">Movie Name : A Castle for Christmas</p>
            <p>Language : English</p>
            <p>Release Date : 26 Nov 2021</p>
            <p>Duration : 1h 55min</p>
            <p>Genre :  Drama and Action </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <img class="card-img-top" src="./../assets/Images/satyamev.png" style="width: 320px; height:320px;" alt="Card image cap">
            <p class="card-title">Movie Name : Satyameva Jayate 2</p>
            <p>Language : Hindi</p>
            <p>Release Date : 25 Nov 2021</p>
            <p>Duration : 2h 30min</p>
            <p>Genre : Action </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <img class="card-img-top" src="./../assets/Images/shidhhat.png" style="width: 320px; height:320px;" alt="Card image cap">
            <p class="card-title">Movie Name : Shiddat</p>
            <p>Language : Hindi</p>
            <p>Release Date : 1 Oct 2021</p>
            <p>Duration : 2h 34min</p>
            <p>Genre : Romantic and Drama </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <img class="card-img-top" src="./../assets/Images/laxmi.png" style="width: 320px; height:320px;" alt="Card image cap">
            <p class="card-title">Movie Name : Laxmii </p>
            <p>Language : Hindi</p>
            <p>Release Date : 9 Nov 2020</p>
            <p>Duration : 2h 21min</p>
            <p>Genre : Horror </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <img class="card-img-top" src="./../assets/Images/Colorful.png" style="width: 320px; height:320px;" alt="Card image cap">
            <p class="card-title">Movie Name : Colorful</p>
            <p>Language : Marathi</p>
            <p>Release Date : 2 Jul 2021</p>
            <p>Duration : 1h 58min</p>
            <p>Genre : Romantic and drama </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <img class="card-img-top" src="./../assets/Images/zimma.png" style="width: 320px; height:320px;" alt="Card image cap">
            <p class="card-title">Movie Name : Zimma</p>
            <p>Language : Marathi</p>
            <p>Release Date : 23 April 2021</p>
            <p>Duration : 2h 10m</p>
            <p>Genre : Drama and Action </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <img class="card-img-top" src="./../assets/Images/Kanika.png" style="width: 320px; height:320px;" alt="Card image cap">
            <p class="card-title">Movie Name : Kanika</p>
            <p>Language : Marathi</p>
            <p>Release Date : 31 March 2017</p>
            <p>Duration : 1h 52min</p>
            <p>Genre : Horror</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




