<div class="card">
  <div class="card-body">
    <font color="yellow" [size]="5"><marquee direction="left" style="background:RED">Upcoming Movies...</marquee></font>
  </div>
</div>


<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <img class="card-img-top" src="./../assets/Images/shamshera.png" style="width: 320px; height:320px;" alt="Card image cap">
            <p class="card-title">Movie Name : Shamshera</p>
            <p>Language : Hindi</p>
            <p>Release Date : 18 Mar 2022</p>
            <p>Duration : 2hr 48min</p>
            <p>Genre :  Action and Drama</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <img class="card-img-top" src="./../assets/Images/355.png" style="width: 320px; height:320px;" alt="Card image cap">
            <p class="card-title">Movie Name : The 355</p>
            <p>Language : English</p>
            <p>Release Date : 14 Jan 2022</p>
            <p>Duration : 2hr 22min</p>
            <p>Genre :  Action and Thriller</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <img class="card-img-top" src="./../assets/Images/atrangire.png" style="width: 320px; height:320px;" alt="Card image cap">
            <p class="card-title">Movie Name : Atrangi Re</p>
            <p>Language : Hindi</p>
            <p>Release Date : 24 Dec 2021</p>
            <p>Duration : 2hr 18min</p>
            <p>Genre :  Action and Romantic</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <img class="card-img-top" src="./../assets/Images/batman.png" style="width: 320px; height:320px;" alt="Card image cap">
            <p class="card-title">Movie Name : Batman</p>
            <p>Language : English</p>
            <p>Release Date : 4 Mar 2022</p>
            <p>Duration : 1hr 48min</p>
            <p>Genre :  Horror</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <img class="card-img-top" src="./../assets/Images/pandu.png" style="width: 320px; height:320px;" alt="Card image cap">
            <p class="card-title">Movie Name : Pandu</p>
            <p>Language : Marathi</p>
            <p>Release Date : 3 Dec 2022</p>
            <p>Duration : 2hr 38min</p>
            <p>Genre :  Comedy</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <img class="card-img-top" src="./../assets/Images/jayanti.png" style="width: 320px; height:320px;" alt="Card image cap">
            <p class="card-title">Movie Name : Jayanti</p>
            <p>Language : Marathi</p>
            <p>Release Date : 12 Nov 2021</p>
            <p>Duration : 2hr 43min</p>
            <p>Genre :  Comedy , Action and Drama</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <a href="#" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>


